{% extends 'catalog/base.html' %}

{% block page_title %}Мой профиль{% endblock %}

{% block content %}
<div class="text-center">
    {% include 'catalog/header.html' %}
</div>

<div class=" text-leftcenter">
    <h4 style="margin-top: 30px; text-align: center">Редактирование профиля :</h4>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card m-5" style="width: 40rem; background-color: rgba(0,0,0,0.2);">
                <div class="card-body">
                    <!--Форма для обработки POST-запроса-->

                    <form method="post" enctype="multipart/form-data" action="#" class="form-container">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.as_p }}
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
                            <a href="{% url 'catalog:home' %}" class="btn btn-outline-secondary">Отменить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
