{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Название страницы{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"/>
</head>
<body>
<div class="row mt-2">
    <!-- Боковой блок -->
    <div class="col-2 bg-dark " style="height: 250vh;">

        {% include 'catalog/catalog_menu.html' %}
        {% include 'catalog/user_menu.html' %}

    </div>
    <!-- Основной блок -->
    <div class="col-lg-10">
        {% block content %}
        {% endblock %}
    </div>

</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}">
</script>
</body>
</html>
