<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="row mt-2">
    <!-- Боковой блок -->
    <div class="col-2 bg-dark " style="height: 200vh;">
        <div class="row m-2"></div>
        <div style="margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 2px solid hwb(199 0% 29%) ">
            <a class="navbar-brand m-2 href=#">
                <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-white.svg" alt="Logo"
                     width="30" height="24" class="d-inline-block align-text-top">
                <p style="display: inline; color: white;">Меню</p>
            </a>
        </div>
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <a class="btn btn-dark ms-2" href="/catalog/home/" role="button">Главная</a>
                    <a class="btn btn-dark ms-2" href="/catalog/category/" role="button">Категории</a>
                    <a class="btn btn-dark ms-2" href="/catalog/orders/" role="button">Заказы</a>
                    <a class="btn btn-dark ms-2" href="/catalog/contacts/" role="button">Контакты</a>
                </div>
            </div>
        </div>
        <div class="fixed-bottom">
            <div class="btn-group dropup w-22"
                 style="margin-top: 1rem; padding-top: 1rem; border-top: 3px solid hwb(199 0% 29%)">
                <button class="btn btn-secondary dropdown-toggle btn-dark" type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Пользователь
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Профиль</a></li>
                    <li><a class="dropdown-item" href="#">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Основной блок -->
    <div class="col-lg-10 text-center">
        <h2 style="margin-top: 20px;">Каталог</h2>

        <!-- Карточка -->
        <div class="row m-5">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="card  w-45 mb-5" style="width: 20rem;">
                    <img src="..." class="img-thumbnail" alt="...">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                         xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"><title>
                        Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"/>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="row">
                            <div class="col-8">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">View</button>
                                    </a>
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">Edit</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-footer text-body-secondary">
                                    9min
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">

                <div class="card w-45 mb-5" style="width: 20rem;">
                    <img src="..." class="img-thumbnail" alt="...">

                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="row">
                            <div class="col-8">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">View</button>
                                    </a>
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">Edit</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-footer text-body-secondary">
                                    9min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-5">

                <div class="card w-45 mb-5" style="width: 20rem;">
                    <img src="..." class="img-thumbnail" alt="...">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                         xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"><title>
                        Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"/>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="row">
                            <div class="col-8">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">View</button>
                                    </a>
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">Edit</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-footer text-body-secondary">
                                    9min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">

                <div class="card w-45 mb-5" style="width: 20rem;">
                    <img src="..." class="img-thumbnail" alt="...">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                         xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"><title>
                        Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"/>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="row">
                            <div class="col-8">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">View</button>
                                    </a>
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">Edit</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-footer text-body-secondary">
                                    9min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js">
</script>
</body>
</html>
