{% extends 'catalog/base.html' %}

{% block page_title %}Каталог{% endblock %}

{% block content %}
<div class="text-center">
    <h2 style="margin-top: 20px;">Каталог</h2>
    <div class="container-fluid">
        <ol class="list-group list-group-numbered">
            {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ category.name }}</div>
                    {{ category.description }}
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
            </li>
            {% endfor %}
        </ol>
        <!-- Карточка -->
        <div class="row m-5">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="card  w-45 mb-5" style="width: 20rem;">
                    <img src="..." class="img-thumbnail" alt="...">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                         xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice"><title>
                        Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"/>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the
                            card's content.</p>
                        <div class="row">
                            <div class="col-8">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">View</button>
                                    </a>
                                    <a href="contacts.html">
                                        <button type="button" class="btn btn-outline-primary">Edit</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-footer text-body-secondary">
                                    9min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}