{% extends 'catalog/base.html' %}

{% block page_title %}Каталог{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h2 class="mb-3">Каталог товаров</h2>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm2 row-cols-md-3 g-3">
        {% for product in products %}

        <div class="col-5">
            <div class="card w-45 mb-5" style="width: 20rem; background-color: rgba(0,0,0,0.2);">
                <img src="{{ MEDIA_URL }}{{ product.image.url }}"
                         class="img-thumbnail" style="height: 200px;" alt="">

                <div class="card-body">

                    <h4>{{ product.name }}</h4>

                    <p class="card-text">{{ product.description | truncatechars:100 }}</p>
                    <div class="row">

                        <div class="col-8">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <a href="contacts.html">
                                    <button type="button" class="btn btn-outline-primary">View</button>
                                </a>
                                <a href="contacts.html">
                                    <button type="button" class="btn btn-outline-primary">Edit</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-footer text-body-secondary">
                                9min
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}