{% extends 'catalog/base.html' %}

{% block page_title %}Категория{% endblock %}

{% block content %}
<div class="text-center">
    <p>Вы находитесь на сайте, предназначенном для продажи товаров.</p>
    <h2 class="mt-3 mb-3">Категория 1</h2>
    <div class="row m-5">
        <div class="col-4">
            <div class="card mb-5" style="width: 18rem;">
                <h3 class="bg-body-tertiary">Товар 1</h3>
                <div class="card-body">
                    <h4 class="card-title">$ 100</h4>
                    <p class="card-text">10 users included, 2 Gb of storage, E-mail support, Help center
                        access</p>
                    <a href="contacts.html" class="btn btn-outline-primary w-100">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card  mb-5" style="width: 18rem;">
                <h3 class="bg-body-tertiary">Товар 1</h3>
                <div class="card-body">
                    <h4 class="card-title">$ 100</h4>
                    <p class="card-text">10 users included, 2 Gb of storage, E-mail support, Help center
                        access</p>
                    <a href="contacts.html" class="btn btn-outline-primary w-100">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card  mb-5" style="width: 18rem;">
                <h3 class="bg-body-tertiary">Товар 1</h3>
                <div class="card-body">
                    <h4 class="card-title">$ 100</h4>
                    <p class="card-text">10 users included, 2 Gb of storage, E-mail support, Help center
                        access</p>
                    <a href="contacts.html" class="btn btn-outline-primary w-100">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-5" style="width: 18rem;">
                <h3 class="bg-body-tertiary">Товар 1</h3>
                <div class="card-body">
                    <h4 class="card-title">$ 100</h4>
                    <p class="card-text">10 users included, 2 Gb of storage, E-mail support, Help center
                        access</p>
                    <a href="contacts.html" class="btn btn-outline-primary w-100">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-5" style="width: 18rem;">
                <h3 class="bg-body-tertiary">Товар 1</h3>
                <div class="card-body">
                    <h4 class="card-title">$ 100</h4>
                    <p class="card-text">10 users included, 2 Gb of storage, E-mail support, Help center
                        access</p>
                    <a href="contacts.html" class="btn btn-outline-primary w-100">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-5" style="width: 18rem;">
                <h3 class="bg-body-tertiary">Товар 1</h3>
                <div class="card-body">
                    <h4 class="card-title">$ 100</h4>
                    <p class="card-text">10 users included, 2 Gb of storage, E-mail support, Help center
                        access</p>
                    <a href="contacts.html" class="btn btn-outline-primary w-100">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
