{% extends 'catalog/base.html' %}


{% block page_title %}Главная{% endblock %}


{% block content %}
<div class="text-center">
    <p>Вы находитесь на сайте, предназначенном для продажи товаров.</p>
    <h2 class="mt-3 mb-3">Главная</h2>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm2 row-cols-md-3 g-3">
            {% for product in products %}

            <div class="col-5">
                <div class="card w-45 mb-5" style="width: 20rem; background-color: rgba(0,0,0,0.2);">
                    <img src="{{ MEDIA_URL }}{{ product.image.url }}"
                         class="img-thumbnail" style="height: 200px;" alt="">

                    <div class="card-body">

                        <h4>{{ product.name }}</h4>

                        <p class="card-text">{{ product.description | truncatechars:100 }}</p>
                        <div class="row">

                            <div class="col-8">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a href="{% url 'catalog:product_detail' product.id %}">
                                        <button type="button" class="btn btn-outline-primary">Подробнее</button>
                                    </a>
                                    <a href="#">
                                        <button type="button" class="btn btn-outline-primary">Купить</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-footer text-body-secondary">
                                    9min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
